@import './theme.scss';

:export {
  GRAY_WHITE: $GRAY_WHITE;
  GRAY_100: $GRAY_100;
  GRAY_200: $GRAY_200;
  GRAY_300: $GRAY_300;
  GRAY_400: $GRAY_400;
  GRAY_500: $GRAY_500;
  GRAY_600: $GRAY_600;
  GRAY_700: $GRAY_700;
  GRAY_800: $GRAY_800;
  GRAY_900: $GRAY_900;
  GRAY_BALCK: $GRAY_BALCK;
  SEMENTIC_PRIMARY: $SEMENTIC_PRIMARY;
  SEMENTIC_SECONDARY: $SEMENTIC_SECONDARY;
}
