.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  background-color: #ffe812;
  border-radius: 8px;
  border: none;
  > p {
    margin-left: 8px;
  }
}
