.join__count__badge__container {
  display: flex;
}
.join__count__badge {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  background-color: $GRAY_200;
  color: $GRAY_BALCK;
  border-radius: 4px;
  > p {
    margin-left: 4px;
  }
}
