@import '@/styles/ui/';

.container {
  height: 100vh;
  background: linear-gradient(to bottom, $GRAY_900 40%, $GRAY_800 100%);
}
.inner__container {
  padding: 0 16px;
}
.logo__section {
  padding: 16px 0;
}
.title {
  margin-top: 24px;
  color: $GRAY_WHITE;
  margin-bottom: 13px;
}
.list__container {
  display: flex;
  > div {
    display: flex;
    align-items: center;
  }
}

.image__wrapper {
  position: relative;
  border-radius: 14px;
  overflow: hidden;
  > img {
    width: 100%;
  }
}
.image__side {
  z-index: 1;
  aspect-ratio: 327 / 460;
}
.image__center {
  z-index: 100;
  aspect-ratio: 327 / 520;
}
